@{
    ViewBag.Title = "CookieMod";
}
<div class="PageTitle">
    <h2>Cookie Mod - Minecraft</h2>
</div>
<div class="PageContent">
    <div class="ProjectSection">
        <div class="ProjectTitle">
            <img id="MainLogo" src="~/Content/Projects/CookieMod/logo.png" alt="Cookie Mod Splash Logo" />
        </div>
        <div class="ProjectDescription">
            <p>
                Welcome to the splash page for DJayFresh's Cookie Mod: Fresh Cookies. As this mod is currently under development
		you can expect this page to change as well. As the mod progresses more content and help will be provided on this
		page. Your patiences and support is a big help, Thank you. -DJayFresh
            </p>

            <br />
            <div id="Download" class="Download">
                <a id="cookie_mod_download" href="http://goo.gl/5H34xT">DOWNLOAD NOW! V1.0</a>
            </div>
        </div>
        <br />
        <br />
        <div>
            Availible on <a target="_blank" href="https://github.com/djayfresh/FreshCookieMod">
                <img src="~/Content/GitHub-Logo.png" height="20" /></a>
        </div>
        <div id="MainUpdates" class="Updates">
            <div id="update4" class="singleUpdate">
                <h2 class="ProjectIconDescription">Update 3/31/14 </h2>
                <div class="ProjectIcon">
                    <img src="~/Content/Projects/CookieMod/update4.png" alt="Official v1.0 release" width="800" height="400">
                </div>
                <br />
                <br />
            </div>
            <div id="update3" class="singleUpdate">
                <h2 class="ProjectIconDescription">Update 3/29/14 </h2>
                <div class="ProjectIcon">
                    <img src="~/Content/Projects/CookieMod/update3.png" alt="Fourth mod update - Sun Table" width="800" height="400">
                </div>
                <br />
                <br />
            </div>
            <div id="update2" class="singleUpdate">
                <h2 class="ProjectIconDescription">Update 3/27/14 </h2>

                <div class="ProjectIcon">
                    <img src="~/Content/Projects/CookieMod/update2.png" alt="Third mod update" width="600" height="400">
                </div>
                <br />
                <br />
            </div>
            <div id="update1" class="singleUpdate">
                <h2 class="ProjectIconDescription">Update 3/26/14 </h2>
                <div class="ProjectIcon">
                    <img src="~/Content/Projects/CookieMod/update1.png" alt="Second mod update" width="600" height="300">
                </div>
                <br />
                <br />
            </div>
            <div id="update0" class="singleUpdate">
                <h2 class="ProjectIconDescription">Update 3/21/14 </h2>

                <div class="ProjectIcon">
                    <img src="~/Content/Projects/CookieMod/update0.png" alt="First mod update" width="600" height="300">
                </div>
            </div>
        </div>
    </div>
</div>

