@{
    ViewBag.Title = "Lycan";
}
<div class="PageTitle">
    <h2>Lycan</h2>
</div>
<div class="PageContent">
    <div class="ProjectSection">
        <div class="ProjectTitle">
            <h4>Unity | C# | Maya</h4>
        </div>
        <div class="ProjectDescription">
            <p>Play as a bloodthirsty werewolf or cowering villager in this hide-and-seek survival game. Players will have to use their wits and teamwork to survive against the ever-growing pack of werewolves that have descended upon your village. Werewolves will have to stalk and outwit villagers to increase their pack and take the village as your own. Lycan was built using the Unity game engine.
                <br /><br />For this project I worked heavily on level design and iteration. My biggest challenges was creating a fun, yet dark level that encapsulates the player.
            </p>
        </div>
        <div class="ProjectVideo">
            <iframe width="400" height="245" src="//www.youtube.com/embed/TgbPOrUbEms" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="ProjectIcon">
            <img src="/Content/Projects/Lycan/Lycan3.jpg" />
            <img src="/Content/Projects/Lycan/LycanTopDown.png" />
            <img src="/Content/Projects/Lycan/Village_Unity.png" />
            <img src="/Content/Projects/Lycan/Village_Unity_Fog.png" />
        </div>
    </div>
</div>

