@{
    ViewBag.Title = "TC5";
}
<div class="PageTitle">
    <h2>TC5</h2>
</div>
<div class="PageContent">
    <div class="ProjectSection">
        <div class="ProjectTitle">
            <h4>Unity | C# | Maya | Kinect V2</h4>
        </div>
        <div class="ProjectDescription">
            <p>Play as an angent and fight your way through the waves of enemy cyborgs. This On The Rails Shooter brings in a new playing style, yourself, using Microsofts new Kinect v2 you are the controller. Like the classic arcade games of Area 51 and Time Crysis, you can also play with your friends. 
                <br /><br />For this project I worked heavily on level design and Kinect. My biggest challenges was creating a fun experiance both in the level and while using the Kinect. The game was built in Unity to account for using Kinect API, however features available in other Microsoft tools like WPF were not included. 
                This includes the player Phiz, a hand to screen tracking, since this was not included in the Unity API for Kinect a Teammate and myself created our very own version for Unity. 
            </p>
        </div>
        <div class="ProjectVideo">
            <iframe width="400" height="245" src="//www.youtube.com/embed/TgbPOrUbEms" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="ProjectIcon">
            <img src="/Content/Projects/TC5/TC5_UI.png" />
            <img src="/Content/Projects/TC5/TC5_Melee.png" />
        </div>
    </div>
</div>
