@{
    ViewBag.Title = "About";
}

<div class="PageTitle">
    <h2>About Me</h2>
</div>
<div class="PageContent">
    <p>Ambitious programmer focused around a study of game development. My main langue is C++, but I’m familiar with C# and Java. While attending school I’ve created my own game engine entirely from the ground up; including lighting shaders, custom binary files, OpenGL renderer and Qt front end. Having used 3rd party engines such as Unreal Engine 3 and Unity inspired me to find tool development as a main focus. </p>
</div>
