@{
    ViewBag.Title = "Project";
}


<div class="PageTitle">
    <h2>@ViewBag.ProjectName</h2>
</div>
<div class="PageContent">
    <div class="ProjectSection">
        <div class="ProjectTitle">
            <h4>@ViewBag.ProjectTech</h4>
        </div>
        <div class="ProjectIcon">
            <img src="@ViewBag.ProjectIcon" />
        </div>
        <div class="ProjectDescription">
            <p>@ViewBag.ProjectDescription</p>
        </div>
    </div>
</div>