@{
    ViewBag.Title = "Projects";
}

<div class="PageTitle">
    <h2>Projects</h2>
</div>
<div class="PageContent">

    <div class="ProjectSection">
        <div id="GameEngine_Ref"></div>
        <div class="ProjectTitle">
            <div class="ProjectLink">
                <h1>
                    <a id="projects_Engine" href="/Project/Engine">Game Engine</a>
                </h1>
            </div>
            <h4>C++ | OpenGL | GLM | Qt</h4>
        </div>
        <div class="ProjectIcon">
            <a href="/Project/Engine">
                <img id="projects_Engine_pic" src="~/Content/Projects/Engine/Engine_LoadedLevel_small.png" /></a>
        </div>
        <div class="ProjectDescription">
            <p>Created a game engine from the ground up. Includes custom file binaries for quick load times, lighting shaders, OpenGL renderer and particle physics.</p>
        </div>
    </div>

    <div class="ProjectSection">
        <div id="EscherPlex_Ref"></div>
        <div class="ProjectTitle">
            <div class="ProjectLink">
                <h1>
                    <a id="projects_EscherPlex" href="/Project/EscherPlex">Escher Plex</a>
                </h1>
            </div>
            <h4>Unreal Engine 3 | UnrealScript | Kismet</h4>
        </div>
        <div class="ProjectIcon">
            <a href="/Project/EscherPlex">
                <img id="projects_EscherPlex_pic" src="~/Content/Projects/EscherPlex/EscherPlexStairs.png" /></a>
        </div>
        <div class="ProjectDescription">
            <p>A game to challenge all levels of gamers. In the game the player has to navigate a series of room. In order to give a good challenge I added a way for players to walk along any surface. This created in interesting game machanic and proved to be a fun challenge to design for. The game contains one of M.C. Eschers more famous ideas, an endless staircase, aswell as moving walls and platforms.</p>
        </div>
    </div>

    <div class="ProjectSection">
        <div id="TC5_Ref"></div>
        <div class="ProjectTitle">
            <div class="ProjectLink">
                <h1>
                    <a id="projects_CT5" href="/Project/TC5">TC5</a>
                </h1>
            </div>
            <h4>Unity | Kinect V2 | C#</h4>
        </div>
        <div class="ProjectIcon">
            <a href="/Project/TC5">
                <img id="projects_CT5_pic" src="~/Content/Projects/TC5/TC5_Main.png" /></a>
        </div>
        <div class="ProjectDescription">
            <p>This On The Rails Shooter takes that classic arcade game and brings it to the family room. With the Use of Kinect V2 and Unity, you are the controller.</p>
        </div>
    </div>

    <div class="ProjectSection">
        <div id="Lycan_Ref"></div>
        <div class="ProjectTitle">
            <div class="ProjectLink">
                <h1>
                    <a id="projects_Lycan" href="/Project/Lycan">Lycan</a>
                </h1>
            </div>
            <h4>Unity | C# | Maya</h4>
        </div>
        <div class="ProjectIcon">
            <iframe width="400" height="245" src="//www.youtube.com/embed/TgbPOrUbEms" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="ProjectDescription">
            <p>Play as a bloodthirsty werewolf or cowering villager in this hide-and-seek survival game. Players will have to use their wits and teamwork to survive against the ever-growing pack of werewolves that have descended upon your village. Werewolves will have to stalk and outwit villagers to increase their pack and take the village as your own. Lycan was built using the Unity game engine.</p>
        </div>
    </div>

    <div class="ProjectSection">
        <div id="CityDefense_Ref"></div>
        <div class="ProjectTitle">
            <div class="ProjectLink">
                <h1>
                    <a id="projects_CityDefense" target="_blank" href="https://github.com/djayfresh/City-Defense">City Defense - GitHub Repo</a>
                </h1>
            </div>
            <h4>XNA | Maya</h4>
        </div>
        <div class="ProjectIcon">
            <a target="_blank" href="https://github.com/djayfresh/City-Defense">"<img id="projects_CityDefense_pic" src="~/Content/Projects/CityDefense/CityDefense_Flying_small.png" /></a>
        </div>
        <div class="ProjectDescription">
            <p>
                A 3D flight simulator built in XNA. The goal of the game is to shoot down multitudes of enemies while navigating a large metropolis. 
This project was completed in 5 weeks, from brainstorming to the final product in 5 weeks. We created it using an entity component model. All of the models used were created by the team. One of the more interesting parts about the project is the collision is done using an octree.
            </p>
        </div>
    </div>

    <div class="ProjectSection">
        <div id="Zombie_Ref"></div>
        <div class="ProjectTitle">
            <div class="ProjectLink">
                <h1>
                    <a id="projects_Zombie" href="/Project/Zombie">Zombie Apocalypse</a>
                </h1>
            </div>
            <h4>ActionScript 3</h4>
        </div>
        <div class="ProjectIcon">
            <a href="/Project/Zombie">
                <img id="projects_Zombie_pic" src="~/Content/Projects/Zombie/Zombie_Hord.png" /></a>
        </div>
        <div class="ProjectDescription">
            <p>You are a survivor during a zombie apocalypse. You have heard of a safe zone but there are many zombies between it and your camp. You decide to fight your way to the new zone because you are low on supplies. To get there you will need to build your way along a winding path by day and battle zombies by night. You can scavenge some supplies from dead zombies to sustain your efforts. If your original camp is lost, you will be unable to respawn. You must reach the new safe zone before you run out of supplies and become zombie grub.</p>
        </div>
    </div>

    <div class="ProjectSection">
        <div id="CookieMod_Ref"></div>
        <div class="ProjectTitle">
            <div class="ProjectLink">
                <h1>
                    <a id="projects_CCA" href="/Project/CookieMod">Cookie Mod</a>
                </h1>
            </div>
            <h4>Java | Minecraft Forge 1.6.4</h4>
        </div>
        <div class="ProjectIcon">
            <a href="/Project/CookieMod">
                <img id="projects_CCA_pic" src="~/Content/Projects/CookieMod/Update0.png" /></a>
        </div>
        <div class="ProjectDescription">
            <p>Minecraft 1.6.4 - Forge Mod. Created 5 new cookies for in game, including art and a new furnace/suntable; two new trees, a peanut plant, and grape vines.</p>
        </div>
    </div>
</div>
