@{
    ViewBag.Title = "Resume";
}

<div class="PageTitle">
    <h2>Resume</h2>
</div>
<div class="PageContent">
    <h2><a id="download_resume" href="~/Content/Resume.pdf">Resume Download</a></h2>
    <object data="~/Content/Resume.pdf" type="Application/pdf" width="800px" height="600px"></object>
</div>