@{
    ViewBag.Title = "Douglas Fresh - Programmer";
}
<div class="PageContent">

    <div id="MainAboutMe">
        <p>
            Ambitious programmer focused around a study of game development. 
            My main language is C++, but I’m familiar with C# and Java. 
            While attending school I’ve created my own game engine entirely from the ground up; including
             lighting shaders, custom binary files, OpenGL renderer and Qt front end. 
            Having used 3rd party engines such as Unreal Engine 3 and Unity inspired me to find tool development as a main focus.
        </p>
    </div>
    <div id="DemoReel">
        <iframe width="640" height="360" src="//www.youtube.com/embed/Yremwat9rn4?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="MainProjects">
        <div class="ProjectSection">
            <div class="ProjectTitle">
                <h1><a href="/Home/Projects">Recent Projects</a></h1>
            </div>
            <div class="MainProjectSection">
                <div class="ProjectTitle">
                    <div class="ProjectLink">
                        <h1>
                            <a href="/Project/Engine">Game Engine</a>
                        </h1>
                    </div>
                    <h4>C++ | OpenGL | GLM | Qt</h4>
                </div>
                <div class="ProjectIcon">
                    <a href="/Project/Engine">
                        <img src="~/Content/Projects/Engine/Engine_LoadedLevel_small.png" /></a>
                </div>
            </div>
            <div class="MainProjectSection">
                <div class="ProjectTitle">
                    <div class="ProjectLink">
                        <h1>
                            <a href="/Project/Lycan">Lycan</a>
                        </h1>
                    </div>
                    <h4>Unity | C# | Maya</h4>
                </div>
                <div class="ProjectIcon">
                    <a href="/Project/Lycan">
                        <img src="~/Content/Projects/Lycan/Lycan3.jpg" /></a>
                </div>
            </div>
            <div class="MainProjectSection">
                <div class="ProjectTitle">
                    <div class="ProjectLink">
                        <h1>
                            <a href="/Project/EscherPlex">Escher Plex</a>
                        </h1>
                    </div>
                    <h4>Unreal Engine 3 | UnrealScript | Kismet</h4>
                </div>
                <div class="ProjectIcon">
                    <a href="/Project/EscherPlex">
                        <img src="~/Content/Projects/EscherPlex/EscherPlexStairs.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
