<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button id="menu_nav_mobile" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="menu_nav_toplink" class="navbar-brand" href="javascript.void(0)">Douglas Fresh</a> <!-- Home -->

        </div>
        <div class="collapse navbar-collapse" id="bs-nav-collapse">
            <ul class="nav navbar-nav" id="LinksPages_Header">
                <li><a href="javascript.void(0)">Home</a></li> <!-- Home -->
                <li class="dropdown"><a id="menu_dropdown_projects" href="#" data-toggle="dropdown">Projects <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a id="menu_projects_all" href="@Url.Action("Projects", "Home")">All Projects</a></li>
                        <li><a id="menu_projects_engine" href="@Url.Action("Engine", "Project")">Game Engine</a></li>
                        <li><a id="menu_projects_TC5" href="@Url.Action("TC5", "Project")">TC5</a></li>
                        <li><a id="menu_projects_EscherPlex" href="@Url.Action("EscherPlex", "Project")">Escher Plex</a></li>
                        <li><a id="menu_projects_Zombie" href="@Url.Action("Zombie", "Project")">Zombie Tower Offense</a></li>
                        <li><a id="menu_projects_Lycan" href="@Url.Action("Lycan", "Project")">Lycan</a></li>
                        <li><a id="menu_projects_CityDefense" href="@Url.Action("Projects", "Home")#CityDefense_Ref">City Defense</a></li>
                        <li><a id="menu_projects_CCA" href="@Url.Action("CookieMod", "Project")">Cookie Mod</a></li>

                    </ul>
                </li>
                <li><a id="menu_resume" href="@Url.Action("Resume", "Home")">Resume</a></li>
                <li>
            </ul>
            <ul class="nav" id="LinksMenu_Header">
                <li class="navbar-right">
                    <h2><a href="mailto:djayfreshnook@gmail.com">
                        <img id="menu_email" src="~/Content/img/mail.png" /></a></h2>
                </li>
                <li role="separator" class="divider navbar-right"></li>
                <li class="navbar-right">
                    <h2><a target="_blank" href="https://www.facebook.com/DougJayFresh">
                        <img id="menu_facebook" src="~/Content/img/Facebook_Logo.png" /></a></h2>
                </li>
                <li role="separator" class="divider navbar-right"></li>
                <li class="navbar-right">
                    <h2><a target="_blank" href="https://github.com/djayfresh">
                        <img id="menu_github" src="~/Content/img/GitHub_Light.png" /></a></h2>
                </li>
                <li role="separator" class="divider navbar-right"></li>
                <li class="navbar-right">
                    <h2><a target="_blank" href="https://www.linkedin.com/pub/douglas-fresh/43/305/87b">
                        <img id="menu_linkedin" src="~/Content/img/LinkedIn.png" /></a></h2>
                </li>
            </ul>

        </div>
    </div>
</nav>